section.about
   .container.about__container
      .about__wrapper 
         .about__header
            h2.about__title.title О нас
            .about__content
               p.about__text
                  | «Помогать повышать урожайность России, идти в ногу с высокими мировыми технологиями, быть доступными как в ценовой политике, так и в долговременности с нашими партнерами».
               p.about__mission Миссия компании АгроПолимер

            .about__info
               p.about__info-text Компания «НОО «АГРОПОЛИМЕР» - это коллектив профессионалов, который решил заняться производством ленты и трубки капельного орошения высокого качества.
               p.about__info-text Мы поставили перед собой задачу сделать продукцию лучше российских и иностранных аналогов, смогли добиться ощутимого результата. 
               p.about__info-text Можем утверждать, что наша продукция  превосходит аналоги отечественного и импортного производства. Уверены, что наши показатели продукции являются достойным поводом для гордости.
                  
         .about__video
            .about__video-item
               iframe.about__video-frame(src="https://www.youtube.com/watch?v=gfcX_IGESco&ab_channel=InternetUrok.ru" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            .about__video-item
               iframe.about__video-frame(src="https://www.youtube.com/watch?v=gfcX_IGESco&ab_channel=InternetUrok.ru" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
