section.home__contacts
   .home__contacts-wrapper.container
      .home__form-card
         h2.home__form-title Оставьте заявку
            form.home__form(action="#" method="POST")
               .home__form-field
                  label.home__form-label(for="name") Ваше имя
                  input.home__form-input(type="text" name="name" id="name" required)
               .home__form-field
                  label.home__form-label(for="phone") Телефон
                  input.home__form-input(type="tel" name="phone" id="phone" required)
               button.home__form-submit(type="submit") Отправить

      .home__contact-card
         h2.home__contact-title Контакты
         address
            p.home__contact-address Воронежская область, с. Бабяково
            a.home__contact-email(href="mailto:agro-polimer@npoapr.ru") agro-polimer@npoapr.ru
            a.home__contact-phone(href="tel:+79896256040") +7 (989) 625 60 40
            a.home__contact-phone(href="tel:+79102443939") +7 (910) 244 39 39
            a.home__contact-phone(href="tel:+79204686864") +7 (920) 468 68 64