footer.footer
   .footer__container
      p.footer__copy © 2024 АгроПолимер Все права защищены.
      p.footer__design Сайт разработан 
         a.footer__link(href="https://webperspective.ru/") WebPerspective
      a.footer__policy(href="privacy.html") Политика конфиденциальности