footer.footer
   .footer__container
      p.footer__copy © 2024 АгроПолимер Все права защищены.
      p.footer__design Сайт разработан 
         a.footer__link WebPerspective
      a.footer__policy Политика конфиденциальности