header.header
   .header__container
      a.header__logo-link(href="/")
         img.header__logo-img(src=require("../../images/icons/header/logo-header.png"), alt="logo")
      
      a.header__burger
         span.burger-icon 
      nav.header__nav
         a.header__logo-link-mb(href="/")
            img.header__logo-img(src=require("../../images/icons/header/logo-header-mb.png"), alt="logo")
         a.header__close 
         ul.header__nav-list
            li.header__nav-item.header__submenu
               a.header__nav-link(href="#development") Капельное орошение
               ul.header__nav-underlists
                  li.header__nav-underitem 
                     a.header__nav-underlink(href="#marketing") Капельная лента
                  li.header__nav-underitem 
                     a.header__nav-underlink(href="#marketing") Капельная трубка
            li.header__nav-item
               a.header__nav-link(href="#marketing") Продукция
            li.header__nav-item
               a.header__nav-link(href="#portfolio") Сертификация
            li.header__nav-item
               a.header__nav-link(href="#about") Партнеры
            li.header__nav-item
               a.header__nav-link(href="#contacts") Контакты
            li.header__nav-item
         ul.header__mb-lists
            li.header__contacts-item
               a.header__contacts-link(href="#contacts") +7 (989) 625-60-40
            li.header__contacts-item
               a.header__contacts-link(href="#contacts") +7 (910) 244-39-39
            li.header__contacts-item
               a.header__contacts-link(href="#contacts") +7 (920) 468-68-64
               a.header__contacts-link(href="#contacts") agro-polimer@npoap.ru
      .header__language
         a.header__language-link(href="#contacts") 
            img.header__language-img(src=require("../../images/icons/header/ru.svg"), alt="ru")
         a.header__language-link(href="#contacts")
            img.header__language-img(src=require("../../images/icons/header/en.svg"), alt="en")