header.header
   .header__container
      a.header__logo-link(href="/")
         img.header__logo-img(src=require("../../images/icons/header/logo-header.png"), alt="logo")
      
      a.header__burger
         span.burger-icon 
      nav.header__nav
         a.header__logo-link-mb(href="/")
            img.header__logo-img(src=require("../../images/icons/header/logo-header-mb.png"), alt="logo")
         a.header__close 
         ul.header__nav-list
            li.header__nav-item.header__submenu
               a.header__nav-link(href="irrigation.html") Капельное орошение
               ul.header__nav-underlists
                  li.header__nav-underitem 
                     a.header__nav-underlink(href="#") Капельная лента
                  li.header__nav-underitem 
                     a.header__nav-underlink(href="drip-tube.html") Капельная трубка
            li.header__nav-item
               a.header__nav-link(href="products.html") Продукция
            li.header__nav-item
               a.header__nav-link(href="certificates.html") Сертификация
            li.header__nav-item
               a.header__nav-link(href="partners.html") Партнеры
            li.header__nav-item
               a.header__nav-link(href="contacts.html") Контакты
            li.header__nav-item
         ul.header__mb-lists
            li.header__contacts-item
               a.header__contacts-link(href="#") +7 (989) 625-60-40
            li.header__contacts-item
               a.header__contacts-link(href="#") +7 (910) 244-39-39
            li.header__contacts-item
               a.header__contacts-link(href="#") +7 (920) 468-68-64
               a.header__contacts-link(href="#") agro-polimer@npoap.ru
      .header__language
         a.header__language-link(href="#") 
            img.header__language-img(src=require("../../images/icons/header/ru.svg"), alt="ru")
         a.header__language-link(href="#")
            img.header__language-img(src=require("../../images/icons/header/en.svg"), alt="en")