section.parameters
  .parameters__container.container
    h2.parameters__title Основные параметры

    .parameters__section
      .parameters__block
        h3.parameters__heading Диаметр
        p.parameters__text Стандартной и самой распространённой является лента диаметром 16 мм, ...
        // Добавьте остальное описание параметра

      .parameters__block
        h3.parameters__heading Толщина стенки
        p.parameters__text Этот показатель измеряется в милл (1 mil=0.025 мм) и ...

    .parameters__section
      .parameters__block
        h3.parameters__heading Устойчивость к ультрафиолету и химическим соединениям
        p.parameters__text Важные свойства, влияющие на долговечность ленты. ...

      .parameters__block
        h3.parameters__heading Производительность эмиттеров
        p.parameters__text Некомпенсированные эмиттеры, как правило, отличаются небольшой производительностью, ...

    // Добавьте остальные блоки параметров по аналогии
