section.parameters
   .parameters__container.container
      h2.parameters__title.title Основные параметры

      .parameters__grid
         .parameters__card
            h3.parameters__heading Диаметр
            p.parameters__text Стандартной и самой распространённой является лента диаметром 16 мм,  для которой без труда можно подобрать дополнительные фитинги, и создать с  её помощью практичную оросительную сеть. 
            p.parameters__text Лента 22 мм применяется реже, а  её использование целесообразно для очень крупных хозяйств с большими  площадями — длина орошаемых рядов с такими изделиями может достигать  400—450 м при приемлемом качестве полива.

         .parameters__card
            h3.parameters__heading Толщина стенки
            p.parameters__text Этот показатель измеряется в милах (1 mil-0,025 мм)  и определяет механическую прочность ленты и её долговечность. Самыми  тонкостенными являются изделия 5-6 mil, которые используются в течение  одного сезона, а затем утилизируются. 
            p.parameters__text  Универсальной и более устойчивой к  повреждениям будет лента 7-8 mil, пригодная для повторного применения,  если бережно с ней обращаться, использовать очищенную воду, а в конце  сезона промывать, сушить и аккуратно хранить.
            p.parameters__text К толстостенным относят  изделия 10-15 mil, которые хорошо зарекомендовали себя в условиях  каменистых почв и повышенного риска повреждения животными, насекомыми,  птицами или инструментами для обработки грунта.

         .parameters__card
            h3.parameters__heading Устойчивость к ультрафиолету и химическим соединениям
            p.parameters__text Важные  свойства, влияющие на долговечность ленты. Если планируется фертигация,  то устойчивость изделий к солям макро- и микроэлементов будет  дополнительным преимуществом.
            h3.parameters__heading Тип встроенных эмиттеров (капельниц)
            p.parameters__text Щелевые или встроенные (компенсированные и некомпенсированные) капельницы.

         .parameters__card
            h3.parameters__heading Производительность  эмиттеров
            p.parameters__text Некомпенсированные эмиттеры, как правило, отличаются  небольшой производительностью, которая составляет 1,0-1,6 л/час. Такие  нормы полива оптимальны для большинства культур и почв, но требования к  очистке поливной воды при этом высокие, так как тонкие водопропускные  каналы легко забиваются. 
            p.parameters__text У компенсированных капельниц расход воды может  составлять 2-3,8 л/час, а применяют их чаще всего на песчаных грунтах с  высокой впитывающей способностью под требующие усиленного полива  культуры.

         .parameters__card
            h3.parameters__heading Расстояние между эмиттерами
            p.parameters__text Шаг между капельницами может  составлять от 10 до 40 см и более. На этот параметр необходимо  ориентироваться с учётом схемы высадки растений, потребностей культуры в  воде и типа почвы. 
            p.parameters__text Ленты с эмиттерами, расположенными на расстоянии  10-20 см друг от друга выбирают для культур сплошного посева (зелени,  лука, салата и т. д.). Почва при этом смачивается сплошной полосой. 
            p.parameters__text Кроме того, такие изделия подойдут для лёгких песчаных грунтов, а также в  том случае, когда требуется высокий расход воды на погонный метр.  Расстояние между эмиттерами 30 см удовлетворяет потребностям большинства  пропашных овощных и некоторых ягодных культур.

         .parameters__card
            h3.parameters__heading Рабочее давление
            p.parameters__text Производители указывают нижний и верхний пороги  давления, которые необходимо соблюдать в процессе эксплуатации. 
            p.parameters__text Для лент  со средними показателями толщины стенки и расхода воды они составляют в  среднем 0,2-0,3 и 0,8-1,1 атм соответственно. 
            p.parameters__text У изделий с более  высокими эксплуатационными и техническими параметрами — 0,4-0,8 атм  минимальное, а максимальное около 1,8-2,0.