section.promo
   .container.promo__container 
      .promo__text 
         h1.promo__title Создаем уверенность в завтрашнем урожае 
         p.promo__subtitle Наши инновационные технологии являются вашим конкурентным преимуществом на сегодня и в будущем