      .drip-tape__table-container
      table.drip-tape__table
      thead.drip-tape__thead
      tr.drip-tape__head-row
      th.drip-tape__header Интервал эмиттера, см
      th.drip-tape__header Уклон

      tbody.drip-tape__tbody
      tr.drip-tape__data-row
      td.drip-tape__data 10
      td.drip-tape__data 56