section.drip-tape
   .drip-tape__container.container
      h2.drip-tape__title.title Капельная лента

      .drip-tape__content
         .drip-tape__description
            h3.drip-tape__heading Производство
            p.drip-tape__text ООО НПО «АгроПолимер» производит ленту капельного орошения Эксплуатационные характеристики нашей продукции, существенно превосходят отечественные и иностранные аналоги. 
            p.drip-tape__text Контракты с лучшими мировыми производителями комплектующих стали залогом нашего успеха на рынке. Рекордная длина вылива ленты обеспечивают nano эмиттеры мирового лидера компании AAS (Евросоюз). 
            p.drip-tape__text Прочность и эластичность придаёт первичное сырьё (гранула) всемирно известного концерна Sabic (Саудовская Аравия). Защиту от ультрафиолета и вредителей создают вносимые добавки разработанные для нас бельгийской Компани BIK (Евросоюз). 
            p.drip-tape__text В течении нескольких месяцев мы проводили испытания нашей капельной ленты при различных условиях рельефа. Результаты, которых представлены в таблице ниже.

         .drip-tape__tech
            h3.drip-tape__heading Технические характеристики
            ul.drip-tape__list
               li.drip-tape__item Тип ленты: эмиттерная
               li.drip-tape__item Диаметр: 16 мм
               li.drip-tape__item Толщина стенки: 0,15-0,25 мм
               li.drip-tape__item Шаг капельниц: 10, 20, 30, 40, 50 см
               li.drip-tape__item Норма вылива одной капельницы: 0,64; 1,0; 1,6; 2,0 л/ч
               li.drip-tape__item Длина катушки: 2030; 3030 м
