.drip-tape__table-container.container  
  table.table.table-drip-specs
    thead.table__head
      tr.table__row
        th.table__header.table__header-name 
        th.table__header.table__header-value NANO 0,64 / 0,17
        th.table__header.table__header-value NANO 1,0 / 0,26
        th.table__header.table__header-value NANO 1,6 / 0,42
    tbody.table__body
      tr.table__row
        td.table__data.table__data-name Наименование
        td.table__data AAS NANO flat
        td.table__data AAS NANO flat
        td.table__data AAS NANO flat
      tr.table__row
        td.table__data.table__data-name Номинальный вылыв
        td.table__data 0,64 л/ч 0,17 галлон/ч
        td.table__data 1,0 л/ч 0,264 галлон/ч
        td.table__data 1,6 л/ч 0,43 галлон/ч
      tr.table__row
        td.table__data.table__data-name Коэффициент вариации CV
        td.table__data 3,0%
        td.table__data 2,98%
        td.table__data 2,5%
      tr.table__row
        td.table__data.table__data-name Показатель (k)
        td.table__data 0,43
        td.table__data 0,48
        td.table__data 0,47
      tr.table__row
        td.table__data.table__data-name Максимально допустимое давление
        td.table__data 1,5 бар 22,0 psi
        td.table__data 1,5 бар 22,0 psi
        td.table__data 1,5 бар 22,0 psi
      tr.table__row
        td.table__data.table__data-name Минимальный показатель
        td.table__data 0,5 бар 8,0 psi
        td.table__data 0,5 бар 8,0 psi
        td.table__data 0,5 бар 8,0 psi
