doctype html
html(lang="ru")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Производство капельных лент и трубок | НПО «АгроПолимер»
      link(rel="shortcut icon" type="image/x-icon" href=require("../../images/icons/favicon.svg"))
   body.body 
      .page__wrapper
         include ../sections/header-contacts
         include ../sections/header
         include ../sections/tape-about
         include ../sections/tape-table-1
         include ../sections/tape-table
         include ../sections/footer