doctype html
html(lang="ru")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Производство капельных лент и трубок | НПО «АгроПолимер»
      link(rel="shortcut icon" type="image/x-icon" href=require("../../images/icons/favicon.svg"))
   body.body 
      .page__wrapper
         include ../sections/header-contacts
         include ../sections/header
         section.drip-about
            .drip-about__container.container
               h2.drip-about__title.title Капельная трубка

               .drip-about__card
                  .drip-about__text
                     p.drip-about__description Капельная трубка AQUA.DRIP-T производства ООО НПО Агрополимер, отличается повышенными эксплуатационными характеристиками, существенно превосходящими отечественные и импортные аналоги. Специально подобранный состав исходного сырья, технологические добавки, эмиттеры от мировых лидеров индустрии, все это является залогом качества нашей продукции.

                     h3.drip-about__subtitle Сырьё
                     p.drip-about__detail Для производства капельной трубки используется исключительно первичное сырьё HPDE и LLDPE компании Sabic и технологические добавки компании ООО НПФ «БАРС-2». Применение этого сырья обуславливает высокие показатели физико-механических свойств (прочность, гибкость) трубки, а также обеспечивает защиту от ультрафиолетового воздействия.

                     h3.drip-about__subtitle Трубки и эмиттеры
                     p.drip-about__detail Используемые в производстве трубки AQUA.DRIP-T эмиттеры известного бренда DRTS имеют преимущества по параметрам однородности потока, длине вылива, устойчивости к засорению. Трубки AQUA.DRIP-T проходят периодические испытания на прочность и качество вылива на специально спроектированном оборудовании.

                  .drip-about__image-block
                     img.drip-about__image(src=require('../../images/img/irrigation/irrigation-item-01.png') alt='Капельная трубка AQUA.DRIP-T')
