doctype html
html(lang="ru")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Производство капельных лент и трубок | НПО «АгроПолимер»
      link(rel="shortcut icon" type="image/x-icon" href=require("../../images/icons/favicon.svg"))
   body.body 
      .header__contacts 
         .header__contacts-container
            ul.header__contacts-lists
               li.header__contacts-item
                  a.header__contacts-link(href="#contacts") +7 (989) 625-60-40
               li.header__contacts-item
                  a.header__contacts-link(href="#contacts") +7 (910) 244-39-39
               li.header__contacts-item
                  a.header__contacts-link(href="#contacts") +7 (920) 468-68-64
               li.header__contacts-item
                  a.header__contacts-link(href="#contacts") agro-polimer@npoap.ru

      .body__wrapper 
         include ../sections/header
         include ../sections/promo
      include ../sections/promo-slider
      include ../sections/about
      include ../sections/advantages
      include ../sections/contacts
      //- include ../sections/footer
      .cursor-dot-outline 
         .cursor-dot