doctype html
html(lang="ru")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Производство капельных лент и трубок | НПО «АгроПолимер»
      link(rel="shortcut icon" type="image/x-icon" href=require("../../images/icons/favicon.svg"))
   body.body 
      include ../sections/header-contacts
      .body__wrapper 
         include ../sections/header
         include ../sections/promo
      include ../sections/promo-slider
      include ../sections/about
      include ../sections/advantages
      include ../sections/contacts
      include ../sections/footer
      .cursor-dot-outline 
         .cursor-dot