body {
   font-size: 16px;
   font-family: "Montserrat";
   font-weight: 400;
   background-color: $gray;
   color: $black;
   line-height: 130%;
   width: 100vw;
   overflow-x: hidden;
}

@media (max-width: 1440px) {
   body {
      font-size: 15px;
   }
}

@media (max-width: 1040px) {
   body {
      font-size: 13px;
   }
}

button,
a {
   cursor: pointer;
}

.container,
.header__container,
.header__contacts-container,
.promo__slider-container {
   width: 100vw;
   padding: 0px 10vw;
   display: flex;
}

.container {
   position: relative;
   margin-bottom: 100px;
   overflow-x: hidden;
}
h1 {
   font-size: 54px;
   line-height: 120%;
   color: $white;
   font-weight: 700;
}

@media (max-width: 1240px) {
   h1 {
      font-size: 46px;
   }
}

@media (max-width: 1040px) {
   h1 {
      font-size: 36px;
   }
}

@media (max-width: 490px) {
   h1 {
      font-size: 2.2em;
   }
}

@media (max-width: 345px) {
   h1 {
      font-size: 2.1em;
   }
}

.title {
   font-size: 36px;
   font-weight: 700;
   line-height: 120%;
}

@media (max-width: 1240px) {
   .title {
      font-size: 32px;
   }
}

@media (max-width: 1040px) {
   .title {
      font-size: 28px;
      margin-bottom: 14px;
   }
}

@media (max-width: 490px) {
   .title {
      font-size: 18px;
      margin-bottom: 10px;
   }
}
