@media (min-width: 2100px) {
   h1 {
      font-size: 3.5vw;
      width: 50vw;
   }
   .promo__subtitle {
      font-size: 1.5vw;
      width: 50vw;
   }
   .header__logo-img {
      height: 3.5vw;
   }
   .body__wrapper {
      .header__nav-link {
         font-size: 1vw;
      }
   }
   .body {
      font-size: 1vw;
   }
   .promo-icons-image {
      height: 3vw;
   }
   .promo-icons-item {
      width: 20%;
   }
   .header__language-img {
      height: 1.6vw;
   }
   .header__contacts-link {
      font-size: 0.85vw;
   }
   .header__contacts-lists {
      width: 50%;
   }
}

@media (max-width: 1640px) {
   .header__container,
   .container,
   .header__contacts-container,
   .promo__slider-container {
      padding: 0px 4vw;
   }
}

@media (max-width: 1440px) {
   .container,
   .header__container,
   .header__contacts-container,
   .promo__slider-container {
      padding: 0px 3vw;
   }
}

@media (max-width: 1440px) {
   .header {
      &__nav {
         &-list {
            gap: 26px;
            justify-content: center;
            align-items: center;
         }
      }
      &__logo-img {
         height: 50px;
      }
      &__language {
         &-img {
            height: 21px;
         }
      }
   }
   .body__wrapper {
      .header {
         &__nav-link {
            font-size: 16px;
         }
      }
   }
}

@media (max-width: 1040px) {
   .header {
      &__logo-link {
         padding: 10px 0;
      }
      &__nav {
         position: fixed;
         top: 0;
         right: -280px;
         width: 280px;
         height: 100vh;
         background-color: $blue;
         z-index: 2001;
         transition: left 0.3s;
         display: flex;
         flex-direction: column;
         justify-content: center;
         overflow-x: hidden;
         justify-content: flex-start;
         align-items: flex-start;
         padding: 20px;
         gap: 30px;
         &-list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
            padding: 20px;
            margin-top: 0px;
         }
         &-underlists {
            position: relative;
            background-color: $blue !important;
            font-size: 16px;
            gap: 10px;
            top: 0;
            left: 0;
            margin-top: 0 !important;
            padding: 20px !important;
         }
         &-link {
            font-size: 16px;
         }
      }
      &__submenu {
         display: flex;
         flex-direction: column !important;
      }
      &__burger {
         display: block;
         order: 3;
      }
      &__contacts {
         font-size: 12px;
         &-container {
            justify-content: center;
            margin: 10px 0 !important;
         }
         &-lists {
            width: 600px;
         }
      }
      &__mb-lists {
         display: block;
         li {
            a {
               color: $white;
               font-weight: 400;
               font-size: 14px;
               padding: 8px 0;
            }
         }
      }
   }
}

@media (max-width: 768px) {
   .header {
      &__contacts {
         &-lists {
            width: auto;
            column-gap: 20px;
            row-gap: 10px;
            flex-wrap: wrap;
            justify-content: center;
         }
      }
   }
   .header__mb-adress {
      display: none;
   }
   .header__logo-link-mb {
      display: block;
   }
}

@media (max-width: 375px) {
   .header {
      &__language {
         flex-direction: column;
         gap: 10px;
         &-img {
            height: 18px;
         }
      }
   }
}

@media (max-width: 1240px) {
   .promo {
      &__slider {
         &-container {
            top: -120px;
            background-size: auto;
         }
      }
      &__subtitle {
         font-size: 18px;
      }
      &__text {
         gap: 30px;
         max-width: 600px;
      }
   }
   .body__wrapper {
      .header {
         &__nav-link {
            font-size: 14px;
         }
      }
   }
}

@media (max-width: 1040px) {
   .promo__slider-image {
      width: 48%; /* Показываем 2 слайда */
   }
   .promo {
      &-icons {
         justify-content: space-between;
         &-item {
            gap: 10px;
            width: 32%;
         }
         &-image {
            height: 40px;
         }
         &-text {
            font-size: 14px;
            max-width: 200px;
         }
      }
   }
}

@media (max-width: 768px) {
   .promo {
      &__slider {
         &-container {
            position: relative;
            top: -120px;
            background-image: url("../images/bg/promo-bg-line-mb.svg");
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center right;
            display: flex;
         }
      }
      &__subtitle {
         font-size: 16px;
      }
      &__text {
         gap: 20px;
         max-width: 450px;
         padding: 70px 0 200px;
      }
      &-icons {
         &-item {
            flex-direction: column;
         }
         &-image {
         }
         &-text {
            text-align: center;
         }
      }
   }
}

@media (max-width: 490px) {
   .promo__slider-image {
      width: 100%; /* Показываем 1 слайд */
   }
}
@media (max-width: 490px) {
   .promo {
      &__slider {
         &-container {
            position: relative;
            top: -140px;
         }
      }
      &__text {
         max-width: 400px;
      }
      &-icons {
         &-image {
            height: 34px;
         }
         &-text {
            font-size: 12px;
         }
      }
   }
}

@media (max-width: 390px) {
   .promo {
      &__slider {
         &__subtitle {
            font-size: 14px;
         }
         &__text {
            gap: 20px;
            max-width: 500px;
            padding: 60px 0 150px;
         }
      }
   }
}

@media (max-width: 345px) {
   .promo {
      &-icons {
         flex-direction: column;
         gap: 10px;
         &-item {
            gap: 10px;
            width: 100%;
            flex-direction: row;
            justify-content: center;
         }
         &-image {
            height: 34px;
         }
         &-text {
            font-size: 12px;
            max-width: auto;
            text-align: left;
         }
      }
   }
}

@media (max-width: 1240px) {
   .about {
      &__wrapper {
         padding: 40px 50px;
         gap: 4%;
      }
      &__header {
         width: 51%;
      }
      &__video {
         width: 45%;
         display: flex;
         flex-direction: column;
         gap: 20px;
         &-frame {
            width: 100%;
            height: 250px;
         }
      }
   }
}

@media (max-width: 1040px) {
   .about {
      margin-top: -50px;
      &__wrapper {
         padding: 40px;
         gap: 20px;
         flex-direction: column;
      }
      &__header {
         width: 100%;
         gap: 30px;
      }
      &__video {
         width: 100%;
         display: flex;
         flex-direction: row;
         justify-content: center;
         gap: 20px;
         &-frame {
            width: 100%;
            height: 160px;
         }
      }
   }
}

@media (max-width: 768px) {
   .about {
      margin-top: -60px;
      background-image: url("../images/bg/about-bg-line-mb.svg");
      background-position: center calc(100% - 70px);

      &__wrapper {
         padding: 30px;
         gap: 20px;
         flex-direction: column;
      }
      &__header {
         width: 100%;
         gap: 30px;
      }
      &__video {
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 20px;
         &-item {
            width: 100%;
            display: flex;
            justify-content: center;
         }
         &-frame {
            width: 80%;
            height: 180px;
         }
      }
   }
}

@media (max-width: 490px) {
   .about {
      margin-top: -80px;
      &__wrapper {
         padding: 20px;
         margin: 0;
      }
      &__header {
         width: 100%;
         gap: 30px;
      }
      &__video {
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 20px;
         &-item {
            width: 100%;
            display: flex;
            justify-content: center;
         }
         &-frame {
            width: 100%;
            height: 150px;
         }
      }
      &__info {
         padding: 12px;
         gap: 14px;
      }
   }
}

@media (max-width: 1240px) {
   .advantages {
      &__container {
         gap: 30px;
      }
      &__item {
         gap: 12px;
      }
      &__guarantee {
         padding: 40px 30px;
         &-list {
            width: 60%;
         }
         &-item {
            max-width: 180px;
            gap: 10px;
         }
         &-image {
            height: 80px;
         }
      }
      &__subtitle {
         font-size: 24px;
      }
   }
}

@media (max-width: 1040px) {
   .advantages {
      &__container {
         gap: 30px;
      }
      &__list {
         flex-wrap: wrap;
         justify-content: center;
         gap: 20px;
      }
      &__item {
         gap: 12px;
         width: 48%;
      }
      &__guarantee {
         gap: 10px;
         &-list {
            width: 60%;
         }
         &-image {
            height: 60px;
         }
      }
      &__subtitle {
         font-size: 18px;
      }
   }
}

@media (max-width: 768px) {
   .advantages {
      &__container {
         gap: 12px;
      }
      &__list {
         flex-wrap: wrap;
         justify-content: center;
         gap: 12px;
      }
      &__item {
         gap: 12px;
         width: 100%;
         padding: 20px;
      }
      &__guarantee {
         flex-direction: column;
         padding: 30px 20px;
         gap: 30px;
         &-list {
            width: 100%;
            gap: 30px;
         }
         &-image {
            height: 60px;
         }
      }
      &__subtitle {
         font-size: 16px;
      }
      &__cooperation {
         flex-wrap: wrap;
         gap: 12px;
         &-item {
            padding: 20px;
            width: 100%;
         }
      }
      &__description {
         gap: 8px;
      }
   }
}
@media (max-width: 490px) {
   .advantages {
      &__container {
         gap: 12px;
         align-items: center;
      }
      &__list {
         flex-wrap: wrap;
         justify-content: center;
         gap: 12px;
      }
      &__item {
         gap: 8px;
      }
      &__guarantee {
         padding: 20px;
         width: 100%;
         gap: 20px;
         &-list {
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: 10px;
         }
      }
      &__cooperation {
         &-item {
            padding: 15px 20px;
         }
      }
   }
}

@media (max-width: 1240px) {
   .home {
      &__contacts {
         &-card {
            padding: 6% 4%;
         }
      }
      &__contact {
         &-phone {
            font-size: 1.2em;
         }
      }
      &__form {
         &-image {
            height: 83%;
         }
         &-input,
         &-submit {
            height: 50px;
            width: 100%;
         }
      }
   }
}

@media (max-width: 1040px) {
   .home {
      &__contacts {
         &-card {
            padding: 4%;
         }
      }
      &__contact {
         &-phone {
            font-size: 0.9em;
         }
         &-address,
         &-email {
            font-size: 0.8em;
         }
         &-title {
            font-size: 1.8em;
         }
      }
      &__form {
         gap: 14px;
         &-image {
            height: 83%;
         }
         &-input,
         &-submit {
            height: 42px;
            width: 100%;
            font-size: 14px;
         }
         &-title {
            font-size: 1.8em;
         }
      }
   }
}

@media (max-width: 768px) {
   .home {
      &__contacts {
         &-card {
            padding: 4%;
            width: 100%;
         }
         &-wrapper {
            flex-direction: column;
            gap: 14px;
         }
      }
      &__form {
         gap: 14px;
         &-input,
         &-submit {
            height: 42px;
            width: 80%;
            font-size: 14px;
         }
      }
   }
}

@media (max-width: 490px) {
   .home {
      &__contacts {
         &-card {
            padding: 4%;
            width: 100%;
            gap: 20px;
         }
         &-wrapper {
            flex-direction: column;
            gap: 14px;
         }
      }
      &__form {
         gap: 14px;
         &-input,
         &-submit {
            height: 42px;
            width: 100%;
            font-size: 12px;
         }
      }
   }
}