@import "vars";
@import "reset";
@import "fonts";
@import "global";

.body__wrapper {
   background-image: url("../images/bg/promo-bg.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: top center;
   .header {
      background-color: transparent;
      .header__submenu::after {
         color: #fff;
      }
      &__nav-link {
         color: $white;
         transition: 0.2s ease-in-out;
         font-size: 18px;
      }
      &__nav-link:hover {
         color: $light-blue;
      }
      &__nav-underlists {
         background-color: #55555538;
         li > a {
            color: $white;
            transition: 0.2s ease-in-out;
            position: relative;
         }

         li:hover > a {
            color: $light-blue;
         }
      }
   }
   .header__nav-link::after,
   .header__nav-underlink::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0;
      height: 0.1rem;
      background-color: $light-blue;
      transition: width 0.3s ease-in-out;
   }

   .header__nav-link:hover::after,
   .header__nav-underlink:hover::after {
      width: 100%;
   }
}

.header {
   &__container {
      justify-content: space-between;
      align-items: center;
   }
   &__logo-link {
      display: inline-block;
      padding: 10px 0;
   }
   &__nav {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 14px 0;
      flex: 1;
      &-item {
         position: relative;
      }
      &-list {
         position: relative;
         display: flex;
         width: 100%;
         gap: 40px;
         justify-content: center;
         align-items: center;
      }
      &-underlists {
         flex-direction: column;
         position: absolute;
         padding: 20px 20px 20px !important;
         width: 200px;
         top: 22px;
         border-radius: 0 0 10px 10px;
         box-shadow: 0 2px 6px 0 rgba(2, 84, 156, 0.1);
         gap: 14px;
      }
   }
   &__contacts {
      width: 100vw;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      background: linear-gradient(
         252deg,
         rgba(232, 247, 133, 0.5) 3.5%,
         rgba(198, 241, 249, 0.5) 49.5%,
         rgba(105, 204, 229, 0.5) 97.5%
      );
      &-container {
         justify-content: flex-end;
         align-items: center;
         margin: 18px 0 !important;
      }
      &-lists {
         display: flex;
         width: 700px;
         justify-content: space-between;
         gap: 4px;
      }
      &-item {
         a {
            font-weight: 600;
         }
      }
      &-link {
         display: inline-block;
         color: $black;
         font-weight: 500;
         transition: 0.2s ease-in-out;
      }
      &-link:hover {
         color: $medium-blue;
      }
   }
   &__language {
      display: flex;
      gap: 20px;
      &-img {
         position: relative;
         box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
         height: 24px;
         transition: 0.2s ease-in-out;
      }
      &-img:hover {
         transform: scale(0.8);
      }
   }
   &__burger {
      position: relative;
      right: 0px;
      z-index: 2000;
      cursor: pointer;
      background-image: url("../images/icons/header/burger-open.svg");
      background-repeat: no-repeat;
      height: 26px;
      width: 35px;
      display: none;
   }
   &__close {
      position: absolute;
      top: 25px;
      right: 18px;
      z-index: 2000;
      cursor: pointer;
      background-image: url("../images/icons/header/burger-close.svg");
      background-repeat: no-repeat;
      height: 20px;
      width: 20px;
      display: none;
   }
}

.header__mb-lists,
.header__logo-link-mb {
   display: none;
}
.header__submenu {
   display: flex;
   position: relative;
   padding-right: 0px;
   align-items: center;
   transition: 0.2s ease-in-out;
}

.header__nav-underlists {
   display: none;
}

.header__submenu:hover {
   .header__nav-underlists {
      display: flex;
   }
}

.header__submenu::after {
   content: " \203A";
   display: inline-block;
   position: absolute;
   transform: rotate(90deg);
   right: -12px;
   font-size: 22px;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center center;
}

.promo {
   &__container {
      flex-direction: column;
      gap: 45px;
      margin-bottom: 0;
   }
   &__text {
      display: flex;
      flex-direction: column;
      gap: 45px;
      max-width: 700px;
      padding: 90px 0 230px;
   }
   &__subtitle {
      font-size: 20px;
      font-weight: 400;
      color: $white;
      line-height: 130%;
   }
   &__slider {
      display: flex;
      overflow-x: hidden;
      flex-wrap: nowrap;
      margin: 0 auto;
      gap: 2%;
      width: 100%;
      scroll-snap-type: start;
      &-image {
         scroll-snap-align: start;
         flex: 0 0 auto;
         flex-shrink: 0;
         width: 32%;
      }
      &-container {
         position: relative;
         top: -120px;
         background-image: url("../images/bg/promo-bg-line.svg");
         background-size: 100% auto;
         background-repeat: no-repeat;
         background-position: center left;
         display: flex;
         flex-direction: column;
         gap: 20px;
         overflow-x: hidden;
      }
      &-wrapper {
         width: 100%;
         overflow-x: hidden;
      }
   }
   &-icons {
      width: 100%;
      display: flex;
      justify-content: space-around;
      &-item {
         display: flex;
         align-items: center;
         gap: 12px;
         width: 305px;
         font-weight: 500;
      }
   }
}

.about {
   width: 100vw;
   overflow-x: hidden;
   position: relative;
   background-image: url("../images/bg/about-bg-line.svg");
   background-size: 100% auto;
   background-repeat: no-repeat;
   background-position: bottom left;
   display: flex;
   flex-direction: column;
   &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 60px 80px;
      background-color: $white;
      @include box-style;
      gap: 40px;
      margin: 10px;
   }
   &__header {
      width: 56%;
      display: flex;
      flex-direction: column;
      gap: 60px;
   }
   &__content {
      display: flex;
      flex-direction: column;
      gap: 14px;
   }
   &__text {
      font-weight: 600;
   }
   &__mission {
      font-style: italic;
      text-align: right;
   }
   &__video {
      display: flex;
      flex-direction: column;
      gap: 30px;
      &-frame {
         width: 450px;
         height: 250px;
      }
   }
   &__info {
      box-shadow: 0 2px 6px 0 rgba(2, 162, 221, 0.2);
      background: #f8feff;
      display: flex;
      flex-direction: column;
      gap: 26px;
      padding: 30px;
      border-radius: 14px;
      &-text::before {
         content: "";
         display: inline-block;
         background-image: url("../images/icons/about-drop.svg");
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center center;
         height: 14px;
         width: 9px;
         margin-right: 8px;
      }
   }
}

.advantages {
   width: 100vw;
   &__container {
      flex-direction: column;
      gap: 40px;
   }
   &__list {
      display: flex;
      width: 100%;
      justify-content: space-between;
   }
   &__item {
      display: flex;
      flex-direction: column;
      width: 32%;
      @include box-style;
      background-color: $white;
      padding: 30px;
      gap: 16px;
   }
   &__info {
      display: flex;
      gap: 12px;
      align-items: center;
   }
   &__heading {
      font-weight: 600;
   }
   &__description {
      display: flex;
      flex-direction: column;
      gap: 12px;
   }
   &__cooperation {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 10px;
      &-item {
         width: 32%;
         @include box-style;
         background-color: $white;
         padding: 30px;
      }
      &-text::before {
         content: "";
         display: inline-block;
         background-image: url("../images/icons/about-drop.svg");
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center center;
         height: 14px;
         width: 9px;
         margin-right: 8px;
      }
   }
   &__guarantee {
      display: flex;
      justify-content: space-around;
      box-shadow: 0 2px 6px 0 rgba(2, 84, 156, 0.1);
      background: linear-gradient(233deg, rgba(215, 255, 173, 0.6) 3.5%, rgba(218, 245, 252, 0.6) 66%);
      border-radius: 20px;
      padding: 60px 50px;
      border: 2px solid $light-blue;
      align-items: center;
      &-list {
         display: flex;
         width: 54%;
         justify-content: space-between;
      }
      &-item {
         max-width: 196px;
         display: flex;
         flex-direction: column;
         gap: 14px;
      }
      &-text {
         text-align: center;
         color: $medium-blue;
         font-weight: 500;
      }
      &-image {
         height: 93px;
      }
   }
   &__subtitle {
      font-size: 28px;
      color: $medium-blue;
      font-weight: 500;
      line-height: 120%;
   }
}

.home {
   width: 100vw;
   overflow-x: hidden;
   &__contacts {
      &-wrapper {
         justify-content: space-between;
      }
      &-card {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 30px;
         position: relative;
         width: 48%;
         background-color: $white;
         margin: 5px;
         @include box-style;
         padding: 70px 90px;
         overflow: hidden;
      }
      &-address {
         display: flex;
         flex-direction: column;
         font-size: 20px;
         color: $black;
         gap: 10px;
      }
   }
   &__contact {
      &-title {
         font-size: 26px;
      }
      &-phone {
         font-size: 26px;
         font-weight: 500;
         color: $black;
         text-align: center;
         line-height: 120%;
         transition: 0.2s ease-in-out;
      }
      &-email:hover,
      &-phone:hover {
         color: $medium-blue;
      }
      &-email,
      &-address {
         text-align: center;
         color: $black;
         line-height: 120%;
         font-weight: 400;
         transition: 0.2s ease-in-out;
      }
   }
   &__form {
      position: relative;
      gap: 20px;
      display: flex;
      flex-direction: column;
      z-index: 2;
      width: 100%;
      align-items: center;
      &-field {
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
      }
      &-title {
         font-size: 26px;
         color: $medium-blue;
         position: relative;
         z-index: 2;
      }
      &-image {
         position: absolute;
         bottom: 0;
         left: 0;
         z-index: 1;
      }
      &-input,
      &-submit {
         height: 60px;
         width: 448px;
      }
      &-input {
         text-align: center;
         border: 1px solid $medium-blue;
         color: $light-blue;
      }
      &-submit {
         background-color: $medium-blue;
         display: flex;
         align-items: center;
         justify-content: center;
         font-size: 18px;
         color: $white;
         transition: 0.3s ease-in-out;
      }
      &-submit:hover {
         background-color: $light-blue;
      }
   }
}

.footer {
   position: relative;
   width: 100vw;
   overflow-x: hidden;
   background: linear-gradient(
      252deg,
      rgba(232, 247, 133, 0.5) 3.5%,
      rgba(198, 241, 249, 0.5) 49.5%,
      rgba(105, 204, 229, 0.5) 97.5%
   );
   background-size: cover;
   background-repeat: no-repeat;
   &__container {
      flex-direction: column;
      padding: 30px 0 20px;
      font-weight: 400;
      align-items: center;
      display: flex;
      gap: 8px;
      p,
      a {
         text-align: center;
         position: relative;
      }
      a {
         text-decoration: underline;
         color: $black;
         transition: 0.2s ease-in-out;
      }
      a:hover {
         color: $medium-blue;
      }
   }
}

.page__wrapper {
   .header {
      background: linear-gradient(
         252deg,
         rgba(232, 247, 133, 0.5) 3.5%,
         rgba(198, 241, 249, 0.5) 49.5%,
         rgba(105, 204, 229, 0.5) 97.5%
      );
      &__contacts {
         background: transparent;
      }
      &__nav {
         &-link,
         &-underlink {
            position: relative;
            color: $black;
            font-weight: 500;
            transition: 0.2s ease-in-out;
            text-decoration: none;
         }
         &-link:hover,
         &-underlink:hover {
            color: $blue;
         }
         &-underlists {
            background-color: $white;
         }
      }
   }
   .header__nav-link::after,
   .header__nav-underlink::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0;
      height: 0.15rem;
      background-color: $blue;
      transition: width 0.3s ease-in-out;
   }

   .header__nav-link:hover::after,
   .header__nav-underlink:hover::after {
      width: 100%;
   }
}

.contacts {
   width: 100vw;
   margin-top: 40px;
   &__container {
      flex-direction: column;
      gap: 30px;
   }
   &__wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 30px;
   }
   &__block {
      width: 100%;
      @include box-style;
      background-color: $white;
      padding: 40px;
      width: 32%;
      display: flex;
      flex-direction: column;
      line-height: 130%;
      gap: 8px;
   }
   &__item {
      display: flex;
      flex-direction: column;
      gap: 3px;
   }
   &__heading {
      font-size: 1.1em;
   }
   &__title {
      text-align: center;
      color: $medium-blue;
   }
   &__address {
      line-height: 130%;
      span {
         font-weight: 500;
      }
   }
   &__phone,
   &__email {
      color: $medium-blue;
      font-weight: 500;
      font-size: 1.1em;
      transition: color 0.2s ease-in-out;
   }
   &__phone:hover,
   &__email:hover {
      color: $blue;
   }
   &__details {
      font-weight: 500;
   }
   &__map {
      @include box-style;
      background-color: $white;
      iframe {
         overflow: hidden;
         border-radius: 20px;
      }
   }
}

.certificates {
   width: 100vw;
   margin-top: 40px;
   &__container {
      flex-direction: column;
      align-items: center;
      gap: 30px;
   }
   &__description {
      font-size: 1.2em;
      text-align: center;
   }
   &__gallery {
      display: flex;
      justify-content: center;
      gap: 30px;
      margin-top: 20px;
   }
   &__image {
      height: 800px;
      width: auto;
      object-fit: contain;
   }
   &__item {
      position: relative;
      cursor: pointer;
      transition: 0.3s ease;
   }
   &__item:hover {
      .certificates__shadow {
         position: absolute;
         height: 100%;
         width: 100%;
         background-color: rgba(0, 0, 0, 0.3);
         cursor: pointer;
         opacity: 0.4;
         transition: 0.3s ease;
      }
      ::after {
         content: "";
         position: absolute;
         display: inline-block;
         background-image: url("../images/icons/zoom.svg");
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center center;
         height: 40px;
         width: 40px;
         top: 50%;
         left: 50%;
         z-index: 2;
      }
   }

   &__modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      visibility: hidden;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 2004;
      overflow: auto;
      &-content {
         position: relative;
         width: 80%;
         height: 100%;
         display: flex;
         justify-content: center;
         align-items: flex-start;
      }
      &-img {
         max-width: 100%;
         height: auto;
         object-fit: contain;
      }
      &-prev,
      &-next {
         cursor: pointer;
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         font-size: 32px;
         color: #fff;
         background-color: rgba(0, 0, 0, 0.5);
         padding: 8px;
         border: none;
      }
      &-prev {
         left: 16px;
      }
      &-next {
         right: 16px;
      }
   }
   &__close {
      position: absolute;
      top: 16px;
      right: 16px;
      font-size: 36px;
      cursor: pointer;
      color: #fff;
   }
}

.partners {
   margin-top: 40px;
   width: 100vw;
   &__container {
      flex-direction: column;
      gap: 40px;
      justify-content: center;
      align-items: center;
   }
   &__list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      align-items: center;
   }
   &__item {
      display: flex;
      gap: 20px;
      justify-content: space-evenly;
      width: 100%;
      background-color: $white;
      padding: 40px 80px;
      @include box-style;
      margin-bottom: 10px;
   }
   &__item:nth-child(2n) {
      flex-direction: row-reverse;
   }
   &__info,
   &__logo {
      width: 50%;
      display: flex;
   }
   &__logo {
      align-items: center;
      justify-content: center;
   }
   &__info {
      flex-direction: column;
      gap: 10px;
   }
   &__name {
      color: $medium-blue;
      font-size: 1.2em;
   }
}

.products {
   margin-top: 40px;
   width: 100vw;
   &__container {
      gap: 40px;
      flex-direction: column;
      align-items: center;
   }
   &__lists {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      width: 100%;
   }
}

.product {
   &__item {
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 30px 60px;
      background-color: $white;
      @include box-style;
      width: 100%;
      margin-bottom: 10px;
   }
   &__body {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 40px;
      &-card {
         margin-top: 40px;
      }
   }
   &__descr {
      width: 60%;
      display: flex;
      align-items: center;
      gap: 40px;
   }
   &__chart {
      width: 40%;
      display: flex;
      flex-direction: column;
      &-text {
         padding: 20px 30px;
         border-radius: 10px;
         background-color: #f8feff;
         color: $blue;
         font-weight: 500;
         line-height: 120%;
      }
      &-block {
         display: flex;
         flex-direction: column;
         gap: 20px;
      }
      &-card {
         display: flex;
         flex-direction: row;
         align-items: center;
         p {
            color: $black;
            padding: 0;
            background-color: transparent;
         }
      }
   }
   &__name {
      font-size: 1.8em;
      font-weight: 500;
      line-height: 130%;
      color: $medium-blue;
      &-span {
         font-weight: 400;
         font-size: 1.8em;
         line-height: 130%;
         color: $medium-blue;
         display: flex;
         align-items: center;
      }
      &-span::before {
         content: "";
         background-image: url("../images/icons/products/drop.svg");
         background-size: contain;
         background-repeat: repeat-x;
         background-position: top left;
         height: 27px;
         content: "";
         position: relative;
         display: inline-block;
         margin-right: 5px;
      }
   }
   &__span1::before {
      width: 28px;
   }
   &__span2::before {
      width: 56px;
   }
   &__span3::before {
      width: 78px;
   }
   &__specs {
      display: flex;
      flex-direction: column;
      gap: 20px;
      &-text {
         line-height: 130%;
         display: flex;
         align-items: center;
         font-weight: 500;
         span {
            font-weight: 600;
         }
      }
      &-text::before {
         background-size: contain;
         background-repeat: no-repeat;
         background-position: top center;
         height: 26px;
         width: 26px;
         content: "";
         position: relative;
         display: inline-block;
         margin-right: 5px;
      }
      &-text:nth-child(1)::before {
         background-image: url("../images/icons/products/products-item-01.svg");
      }
      &-text:nth-child(2)::before {
         background-image: url("../images/icons/products/products-item-02.svg");
      }
      &-text:nth-child(3)::before {
         background-image: url("../images/icons/products/products-item-03.svg");
      }
      &-text:nth-child(4)::before {
         background-image: url("../images/icons/products/products-item-04.svg");
      }
      &-text:nth-child(5)::before {
         background-image: url("../images/icons/products/products-item-05.svg");
      }
      &-text:nth-child(6)::before {
         background-image: url("../images/icons/products/products-item-06.svg");
      }
   }
   &__tube:nth-child(3)::before {
      background-image: url("../images/icons/products/products-item-04.svg");
   }
   &__tube:nth-child(4)::before {
      background-image: url("../images/icons/products/products-item-05.svg");
   }
   &__tube:nth-child(5)::before {
      background-image: url("../images/icons/products/products-item-06.svg");
   }
}

.irrigation {
   width: 100vw;
   margin-top: 40px;
   &__container {
      flex-direction: column;
      align-items: center;
      gap: 40px;
   }
   &__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px;
      background-color: $white;
      @include box-style;
      width: 100%;
      margin-bottom: 10px;
      gap: 40px;
   }
   &__subtitle {
      font-size: 1.4em;
      margin-bottom: 10px;
   }
   &__content {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10%;
   }
   &__block {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 20px;
   }
   &__description {
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px;
      background-color: #f8feff;
      color: $blue;
      box-shadow: 0 0 4px 0 #daf5fc;
   }
   &__image {
      max-width: 100%;
      height: 100%;
      &-block {
         width: 50%;
         max-height: 390px;
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 30px;
      }
   }
   &__tech {
      flex-direction: row-reverse;
   }
   &__additional {
      font-weight: 600;
   }
   &__list {
      display: flex;
      flex-direction: column;
      gap: 6px;
      li {
         list-style-type: circle;
         position: relative;
         left: 30px;
         color: $blue;
      }
   }
   &__info {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 20px;
      background-color: #f8feff;
      color: $blue;
      box-shadow: 0 0 4px 0 #daf5fc;
   }
   &__text {
      span {
         width: 600px;
      }
   }
}

.parameters {
   margin-top: 40px;
   width: 100vw;
   &__container {
      flex-direction: column;
      align-items: center;
      gap: 40px;
   }
   &__grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      column-gap: 40px;
      row-gap: 20px;
   }
   &__heading {
      margin-bottom: 6px;
      display: flex;
      align-items: center;
   }
   &__heading::before {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top center;
      height: 26px;
      width: 26px;
      content: "";
      position: relative;
      display: inline-block;
      margin-right: 8px;
   }
   &__card:nth-child(1) {
      h3::before {
         background-image: url("../images/icons/parametrs/heading-item-01.svg");
      }
   }
   &__card:nth-child(2) {
      h3::before {
         background-image: url("../images/icons/parametrs/heading-item-02.svg");
      }
   }
   &__card:nth-child(3) {
      h3:nth-child(1)::before {
         background-image: url("../images/icons/parametrs/heading-item-03.svg");
      }
      h3:nth-child(3)::before {
         background-image: url("../images/icons/parametrs/heading-item-04.svg");
      }
   }
   &__card:nth-child(4) {
      h3::before {
         background-image: url("../images/icons/parametrs/heading-item-05.svg");
      }
   }
   &__card:nth-child(5) {
      h3::before {
         background-image: url("../images/icons/parametrs/heading-item-06.svg");
      }
   }
   &__card:nth-child(6) {
      h3::before {
         background-image: url("../images/icons/parametrs/heading-item-07.svg");
      }
   }
   &__card {
      width: 48%;
      padding: 30px 40px;
      background-color: $white;
      @include box-style;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 10px;
   }
}

.drip-about {
   margin-top: 40px;
   width: 100vw;
   &__container {
      flex-direction: column;
      align-items: center;
      gap: 40px;
   }
   &__card {
      display: flex;
      background-color: $white;
      @include box-style;
      margin-bottom: 10px;
      padding: 50px;
      justify-content: space-between;
      gap: 40px;
   }
   &__text {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 6px;
   }
   &__image {
      max-width: 100%;
      max-height: 100%;
      &-block {
         width: 40%;
      }
   }
   &__subtitle{
      margin-top: 10px;
   }
}

@import "mobile";
