@import "vars";
@import "reset";
@import "fonts";
@import "global";

.body__wrapper {
   background-image: url("../images/bg/promo-bg.png");
   .header {
      background-color: transparent;
      .header__submenu::after {
         color: #fff;
      }
      &__nav-link {
         color: $white;
         transition: 0.2s ease-in-out;
      }
      &__nav-link:hover {
         color: $light-blue;
      }
      &__nav-underlists {
         background-color: #55555538;
         li > a {
            color: $white;
            transition: 0.2s ease-in-out;
         }

         li:hover > a {
            color: $light-blue;
         }
      }
   }
}

.header {
   &__container {
      justify-content: space-between;
      align-items: center;
   }
   &__logo-link {
      display: inline-block;
      padding: 20px 0;
   }
   &__nav {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 14px 0;
      flex: 1;
      &-item {
         position: relative;
      }
      &-list {
         position: relative;
         display: flex;
         width: 100%;
         gap: 40px;
         justify-content: center;
         align-items: center;
      }
      &-underlists {
         flex-direction: column;
         position: absolute;
         padding: 30px 20px 20px !important;
         width: 200px;
         top: 16px;
         border-radius: 0 0 10px 10px;
         box-shadow: 0 2px 6px 0 rgba(2, 84, 156, 0.1);
         gap: 14px;
      }
   }
   &__contacts {
      width: 100vw;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      &-container {
         justify-content: flex-end;
         align-items: center;
         margin: 16px 0 !important;
      }
      &-lists {
         display: flex;
         width: 700px;
         justify-content: space-between;
         gap: 4px;
      }
      &-item {
         a {
            font-weight: 600;
         }
      }
      &-link {
         display: inline-block;
         color: $blue;
         font-weight: 500;
         transition: 0.2s ease-in-out;
      }
      &-link:hover {
         color: $medium-blue;
      }
   }
   &__language {
      display: flex;
      gap: 20px;
      &-img {
         position: relative;
         box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
         height: 24px;
         transition: 0.2s ease-in-out;
      }
      &-img:hover {
         transform: scale(0.8);
      }
   }
   &__burger {
      position: relative;
      right: 0px;
      z-index: 2000;
      cursor: pointer;
      background-image: url("../images/icons/header/burger-open.svg");
      background-repeat: no-repeat;
      height: 26px;
      width: 35px;
      display: none;
   }
   &__close {
      position: absolute;
      top: 25px;
      right: 18px;
      z-index: 2000;
      cursor: pointer;
      background-image: url("../images/icons/header/burger-close.svg");
      background-repeat: no-repeat;
      height: 20px;
      width: 20px;
      display: none;
   }
}

.header__mb-lists,
.header__logo-link-mb {
   display: none;
}
.header__submenu {
   display: flex;
   position: relative;
   padding-right: 0px;
   align-items: center;
   transition: 0.2s ease-in-out;
}

.header__nav-underlists {
   display: none;
}

.header__submenu:hover {
   .header__nav-underlists {
      display: flex;
   }
}

.header__submenu::after {
   content: " \203A";
   display: inline-block;
   position: absolute;
   transform: rotate(90deg);
   right: -12px;
   font-size: 22px;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center center;
}

@import "mobile";
