@import "vars";
@import "reset";
@import "fonts";
@import "global";

.body__wrapper {
   background-image: url("../images/bg/promo-bg.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: top center;
   .header {
      background-color: transparent;
      .header__submenu::after {
         color: #fff;
      }
      &__nav-link {
         color: $white;
         transition: 0.2s ease-in-out;
         font-size: 18px;
      }
      &__nav-link:hover {
         color: $light-blue;
      }
      &__nav-underlists {
         background-color: #55555538;
         li > a {
            color: $white;
            transition: 0.2s ease-in-out;
         }

         li:hover > a {
            color: $light-blue;
         }
      }
   }
}

.header {
   &__container {
      justify-content: space-between;
      align-items: center;
   }
   &__logo-link {
      display: inline-block;
      padding: 20px 0;
   }
   &__nav {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 14px 0;
      flex: 1;
      &-item {
         position: relative;
      }
      &-list {
         position: relative;
         display: flex;
         width: 100%;
         gap: 40px;
         justify-content: center;
         align-items: center;
      }
      &-underlists {
         flex-direction: column;
         position: absolute;
         padding: 30px 20px 20px !important;
         width: 200px;
         top: 16px;
         border-radius: 0 0 10px 10px;
         box-shadow: 0 2px 6px 0 rgba(2, 84, 156, 0.1);
         gap: 14px;
      }
   }
   &__contacts {
      width: 100vw;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      background: linear-gradient(
         252deg,
         rgba(232, 247, 133, 0.5) 3.5%,
         rgba(198, 241, 249, 0.5) 49.5%,
         rgba(105, 204, 229, 0.5) 97.5%
      );
      &-container {
         justify-content: flex-end;
         align-items: center;
         margin: 10px 0 !important;
      }
      &-lists {
         display: flex;
         width: 700px;
         justify-content: space-between;
         gap: 4px;
      }
      &-item {
         a {
            font-weight: 600;
         }
      }
      &-link {
         display: inline-block;
         color: $black;
         font-weight: 500;
         transition: 0.2s ease-in-out;
      }
      &-link:hover {
         color: $medium-blue;
      }
   }
   &__language {
      display: flex;
      gap: 20px;
      &-img {
         position: relative;
         box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
         height: 24px;
         transition: 0.2s ease-in-out;
      }
      &-img:hover {
         transform: scale(0.8);
      }
   }
   &__burger {
      position: relative;
      right: 0px;
      z-index: 2000;
      cursor: pointer;
      background-image: url("../images/icons/header/burger-open.svg");
      background-repeat: no-repeat;
      height: 26px;
      width: 35px;
      display: none;
   }
   &__close {
      position: absolute;
      top: 25px;
      right: 18px;
      z-index: 2000;
      cursor: pointer;
      background-image: url("../images/icons/header/burger-close.svg");
      background-repeat: no-repeat;
      height: 20px;
      width: 20px;
      display: none;
   }
}

.header__mb-lists,
.header__logo-link-mb {
   display: none;
}
.header__submenu {
   display: flex;
   position: relative;
   padding-right: 0px;
   align-items: center;
   transition: 0.2s ease-in-out;
}

.header__nav-underlists {
   display: none;
}

.header__submenu:hover {
   .header__nav-underlists {
      display: flex;
   }
}

.header__submenu::after {
   content: " \203A";
   display: inline-block;
   position: absolute;
   transform: rotate(90deg);
   right: -12px;
   font-size: 22px;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center center;
}

.promo {
   &__container {
      flex-direction: column;
      gap: 45px;
      margin-bottom: 0;
   }
   &__text {
      display: flex;
      flex-direction: column;
      gap: 45px;
      max-width: 700px;
      padding: 90px 0 230px;
   }
   &__subtitle {
      font-size: 20px;
      font-weight: 400;
      color: $white;
      line-height: 130%;
   }
   &__slider {
      display: flex;
      overflow-x: hidden;
      flex-wrap: nowrap;
      margin: 0 auto;
      gap: 2%;
      width: 100%;
      scroll-snap-type: start;
      &-image {
         scroll-snap-align: start;
         flex: 0 0 auto;
         flex-shrink: 0;
         width: 32%;
      }
      &-container {
         position: relative;
         top: -120px;
         background-image: url("../images/bg/promo-bg-line.svg");
         background-size: 100% auto;
         background-repeat: no-repeat;
         background-position: center left;
         display: flex;
         flex-direction: column;
         gap: 20px;
         overflow-x: hidden;
      }
      &-wrapper {
         width: 100%;
         overflow-x: hidden;
      }
   }
   &-icons {
      width: 100%;
      display: flex;
      justify-content: space-around;
      &-item {
         display: flex;
         align-items: center;
         gap: 12px;
         width: 305px;
         font-weight: 500;
      }
   }
}

.about {
   width: 100vw;
   overflow-x: hidden;
   position: relative;
   background-image: url("../images/bg/about-bg-line.svg");
   background-size: 100% auto;
   background-repeat: no-repeat;
   background-position: bottom left;
   display: flex;
   flex-direction: column;
   &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 60px 80px;
      background-color: $white;
      @include box-style;
      gap: 40px;
      margin: 10px;
   }
   &__header {
      width: 56%;
      display: flex;
      flex-direction: column;
      gap: 60px;
   }
   &__content {
      display: flex;
      flex-direction: column;
      gap: 14px;
   }
   &__text {
      font-weight: 600;
   }
   &__mission {
      font-style: italic;
      text-align: right;
   }
   &__video {
      display: flex;
      flex-direction: column;
      gap: 30px;
      &-frame {
         width: 450px;
         height: 250px;
      }
   }
   &__info {
      box-shadow: 0 2px 6px 0 rgba(2, 162, 221, 0.2);
      background: #f8feff;
      display: flex;
      flex-direction: column;
      gap: 26px;
      padding: 30px;
      border-radius: 14px;
      &-text::before {
         content: "";
         display: inline-block;
         background-image: url("../images/icons/about-drop.svg");
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center center;
         height: 14px;
         width: 9px;
         margin-right: 8px;
      }
   }
}

.advantages {
   &__container {
      flex-direction: column;
      gap: 40px;
   }
   &__list {
      display: flex;
      width: 100%;
      justify-content: space-between;
   }
   &__item {
      display: flex;
      flex-direction: column;
      width: 32%;
      @include box-style;
      background-color: $white;
      padding: 30px;
      gap: 16px;
   }
   &__info {
      display: flex;
      gap: 12px;
      align-items: center;
   }
   &__heading {
      font-weight: 600;
   }
   &__description {
      display: flex;
      flex-direction: column;
      gap: 12px;
   }
   &__cooperation {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 10px;
      &-item {
         width: 32%;
         @include box-style;
         background-color: $white;
         padding: 30px;
      }
      &-text::before{
         content: "";
         display: inline-block;
         background-image: url("../images/icons/about-drop.svg");
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center center;
         height: 14px;
         width: 9px;
         margin-right: 8px;
      }
   }
   &__guarantee {
      display: flex;
      justify-content: space-around;
      box-shadow: 0 2px 6px 0 rgba(2, 84, 156, 0.1);
      background: linear-gradient(233deg, rgba(215, 255, 173, 0.6) 3.5%, rgba(218, 245, 252, 0.6) 66%);
      border-radius: 20px;
      padding: 60px 50px;
      border: 2px solid $light-blue;
      align-items: center;
      &-list {
         display: flex;
         width: 54%;
         justify-content: space-between;
      }
      &-item {
         max-width: 196px;
         display: flex;
         flex-direction: column;
         gap: 14px;
      }
      &-text {
         text-align: center;
         color: $medium-blue;
         font-weight: 500;
      }
      &-image {
         height: 93px;
      }
   }
   &__subtitle {
      font-size: 28px;
      color: $medium-blue;
      font-weight: 500;
      line-height: 120%;
   }
}

@import "mobile";
